In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
traintanic = pd.read_csv('train.csv')
testanic = pd.read_csv('test.csv')

Features:
Ticket class, sex, age, parent-child, sibling-spouse, Tune: nationality (split off last names and classify non-Anglos by name ending)

Start with decision tree, then do KNN, then SVM
See what happens when combined

To do: separate out deck from cabin number

Assign deck as well as fore, amidships or aft cabin numbers based on ticket class

Check on how exactly the ship sank - 

Create column for young children (try different limit downwards from 16)

Ignore ticket & fare

Ignore port of embarkation

'Foreign' name endings:
off
ov
cher
sky
ski
ig
nen
sen
ik
strom
ic
sen
blom
lund
og

In [7]:
traintanic['Last_Name'] = traintanic['Name'].str.split(',', n = 1, expand = True)

In [8]:
traintanic['Is Non-Anglo Western?'] = traintanic.Name.apply\
(lambda x: 1 if re.compile('adt,|berg,|berger,|blom,|burg,|burger,|a,|o,|elle,|elli,|ehr,|ig,|ila,|cher,\
|nen,|sen,|ik,|ek,|og,|our,|gen,|lund,|strom,|sson,|sen,|vedt,|stad,|stedt,| van |qvist,|quist,\
            |aki,|feld,|mann,|gli,|glin,|ahl,|ouf,| Van| Vander').search(x) else 0)

testanic['Is Non-Anglo Western?'] = testanic.Name.apply\
(lambda x: 1 if re.compile('adt,|berg,|berger,|blom,|burg,|burger,|a,|o,|elle,|elli,|ehr,|ig,|ila,|cher,\
|nen,|sen,|ik,|ek,|og,|our,|gen,|lund,|strom,|sson,|sen,|vedt,|stad,|stedt,| van |qvist,|quist,\
            |aki,|feld,|mann,|gli,|glin,|ahl,|ouf,| Van| Vander').search(x) else 0)

In [9]:
traintanic['Is Eastern?'] = traintanic.Name.apply\
(lambda x: 1 if re.compile('ac,|off,|eff,|if,|ov,|ic,|sky,|ski,|u,|ib,|os,|oub,').search(x) else 0)

testanic['Is Eastern?'] = testanic.Name.apply\
(lambda x: 1 if re.compile('ac,|off,|eff,|if,|ov,|ic,|sky,|ski,|u,|ib,|os,|oub,').search(x) else 0)

In [10]:
traintanic['Is 1st Class?'] = traintanic.Pclass.apply(lambda x: 1 if x == 1 else 0)

testanic['Is 1st Class?'] = testanic.Pclass.apply(lambda x: 1 if x == 1 else 0)

In [11]:
traintanic['Is 3rd Class?'] = traintanic.Pclass.apply(lambda x: 1 if x == 3 else 0)

testanic['Is 3rd Class?'] = testanic.Pclass.apply(lambda x: 1 if x == 3 else 0)

In [12]:
traintanic['Deck'] = traintanic.Cabin.str.get(0)
traintanic['Cabin'] = traintanic.Cabin.astype('object')

testanic['Deck'] = testanic.Cabin.str.get(0)
testanic['Cabin'] = testanic.Cabin.astype('object')

In [13]:
traintanic['Cabin_No'] = traintanic['Cabin'].str[1:4]

testanic['Cabin_No'] = testanic['Cabin'].str[1:4]

In [14]:
traintanic.Deck = traintanic.Deck.fillna(0)
traintanic.Cabin_No = traintanic.Cabin_No.fillna(0)

testanic.Deck = testanic.Deck.fillna(0)
testanic.Cabin_No = testanic.Cabin_No.fillna(0)

In [15]:
traintanic['Is Child?'] = traintanic.Age.apply(lambda x: 1 if x <= 12 else 0)
traintanic['Is Young Adult?'] = traintanic.Age.apply(lambda x: 1 if x in range(13,31) else 0)

testanic['Is Child?'] = testanic.Age.apply(lambda x: 1 if x <= 12 else 0)
testanic['Is Young Adult?'] = testanic.Age.apply(lambda x: 1 if x in range(13,31) else 0)

In [16]:
traintanic['Is Not Young?'] = traintanic.Age.apply(lambda x: 1 if x > 40 else 0)

testanic['Is Not Young?'] = testanic.Age.apply(lambda x: 1 if x > 40 else 0)

In [17]:
traintanic['Big Family?'] = traintanic.Parch.apply(lambda x: 1 if x > 2 else 0)

testanic['Big Family?'] = testanic.Parch.apply(lambda x: 1 if x > 2 else 0)

In [18]:
traintanic[['Is Child?','Is Young Adult?']].fillna(0, inplace=True)

testanic[['Is Child?','Is Young Adult?']].fillna(0, inplace=True)

C:\Users\teren\miniconda3\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [19]:
traintanic.Cabin_No.replace(to_replace=' G7', value=7, inplace=True)
traintanic.Cabin_No.replace(to_replace=' G6', value=6, inplace=True)
traintanic.Cabin_No.replace(to_replace=' E6', value=6, inplace=True)
traintanic.Cabin_No.replace(to_replace='', value=0, inplace=True)

In [20]:
testanic.Cabin_No.replace(to_replace=' [A-Z]', value='', inplace=True, regex=True)
testanic.Cabin_No.replace(to_replace='', value='0', inplace=True, regex=True)

In [21]:
traintanic['Cabin_No'] = traintanic['Cabin_No'].astype('int64')

testanic['Cabin_No'] = testanic['Cabin_No'].astype('int64')

In [22]:
traintanic['Cabin Fore?'] = traintanic['Cabin_No'].apply(lambda x: 1 if x in range(66) else 0)

testanic['Cabin Fore?'] = testanic['Cabin_No'].apply(lambda x: 1 if x in range(66) else 0)

In [23]:
traintanic['Cabin Aft?'] = traintanic['Cabin_No'].apply(lambda x: 1 if x > 80 else 0)

testanic['Cabin Aft?'] = testanic['Cabin_No'].apply(lambda x: 1 if x > 80 else 0)

In [24]:
traintanic['Cabin Amidships?'] = traintanic['Cabin_No'].apply(lambda x: 1 if x in range(66,81) else 0)

testanic['Cabin Amidships?'] = testanic['Cabin_No'].apply(lambda x: 1 if x in range(66,81) else 0)

In [25]:
traintanic['Sex-int'] = traintanic['Sex'].apply(lambda x: 1 if x == 'female' else 0)

testanic['Sex-int'] = testanic['Sex'].apply(lambda x: 1 if x == 'female' else 0)

In [69]:
# Anyone who has seen the film might suspect women and children had a higher than average
# chance of surviving the sinking. Though what if some of our entries here are missing a value for 'Age'?
# We might in those cases omit to take any age significance into account for those datapoints.

# Below I have filtered the training set for passengers without a recorded age whose identity as 
# young woman or boy we can nevertheless deduce through the titles 'Miss' and 'Master'.

# This filter still cannot address young men without a recorded age as the title 'Mr.' can apply to a male
# of any age past boyhood. I will consider other possibilities to identify such passengers.

traintanic[(traintanic['Age'].isna()) & traintanic['Name'].str.contains('Master|Miss|Mrs.')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Is Child?,Is Young Adult?,Is Not Young?,Big Family?,Cabin Fore?,Cabin Aft?,Cabin Amidships?,Sex-int,Woman or Child w/o Recorded Age,Woman or Child w/o Recorded Age?
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,...,0,0,0,0,1,0,0,1,1,1
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,...,0,0,0,0,1,0,0,1,1,1
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,...,0,0,0,0,0,0,1,1,1,1
32,33,1,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,...,0,0,0,0,1,0,0,1,1,1
47,48,1,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,...,0,0,0,0,1,0,0,1,1,1
65,66,1,3,"Moubarek, Master. Gerios",male,NaN,1,1,2661,15.2458,...,0,0,0,0,1,0,0,0,1,1
82,83,1,3,"McDermott, Miss. Brigdet Delia",female,NaN,0,0,330932,7.7875,...,0,0,0,0,1,0,0,1,1,1
109,110,1,3,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,...,0,0,0,0,1,0,0,1,1,1
128,129,1,3,"Peter, Miss. Anna",female,NaN,1,1,2668,22.3583,...,0,0,0,0,1,0,0,1,1,1
140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,NaN,0,2,2678,15.2458,...,0,0,0,0,1,0,0,1,1,1
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,...,0,0,0,0,1,0,0,0,1,1
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,...,0,0,0,0,1,0,0,1,1,1
176,177,0,3,"Lefebre, Master. Henry Forbes",male,NaN,3,1,4133,25.4667,...,0,0,0,0,1,0,0,0,1,1
180,181,0,3,"Sage, Miss. Constance Gladys",female,NaN,8,2,CA. 2343,69.5500,...,0,0,0,0,1,0,0,1,1,1
186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,NaN,1,0,370365,15.5000,...,0,0,0,0,1,0,0,1,1,1
198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,...,0,0,0,0,1,0,0,1,1,1
229,230,0,3,"Lefebre, Miss. Mathilde",female,NaN,3,1,4133,25.4667,...,0,0,0,0,1,0,0,1,1,1
235,236,0,3,"Harknett, Miss. Alice Phoebe",female,NaN,0,0,W./C. 6609,7.5500,...,0,0,0,0,1,0,0,1,1,1
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,...,0,0,0,0,1,0,0,1,1,1
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,NaN,1,0,367230,15.5000,...,0,0,0,0,1,0,0,1,1,1
256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,NaN,0,0,PC 17585,79.2000,...,0,0,0,0,1,0,0,1,1,1
264,265,0,3,"Henry, Miss. Delia",female,NaN,0,0,382649,7.7500,...,0,0,0,0,1,0,0,1,1,1
274,275,1,3,"Healy, Miss. Hanora ""Nora""",female,NaN,0,0,370375,7.7500,...,0,0,0,0,1,0,0,1,1,1
300,301,1,3,"Kelly, Miss. Anna Katherine ""Annie Kate""",female,NaN,0,0,9234,7.7500,...,0,0,0,0,1,0,0,1,1,1
303,304,1,2,"Keane, Miss. Nora A",female,NaN,0,0,226593,12.3500,...,0,0,0,0,0,1,0,1,1,1
306,307,1,1,"Fleming, Miss. Margaret",female,NaN,0,0,17421,110.8833,...,0,0,0,0,1,0,0,1,1,1
330,331,1,3,"McCoy, Miss. Agnes",female,NaN,2,0,367226,23.2500,...,0,0,0,0,1,0,0,1,1,1
334,335,1,1,"Frauenthal, Mrs. Henry William (Clara Heinshei...",female,NaN,1,0,PC 17611,133.6500,...,0,0,0,0,1,0,0,1,1,1
347,348,1,3,"Davison, Mrs. Thomas Henry (Mary E Finck)",female,NaN,1,0,386525,16.1000,...,0,0,0,0,1,0,0,1,1,1
358,359,1,3,"McGovern, Miss. Mary",female,NaN,0,0,330931,7.8792,...,0,0,0,0,1,0,0,1,1,1
359,360,1,3,"Mockler, Miss. Helen Mary ""Ellie""",female,NaN,0,0,330980,7.8792,...,0,0,0,0,1,0,0,1,1,1
367,368,1,3,"Moussa, Mrs. (Mantoura Boulos)",female,NaN,0,0,2626,7.2292,...,0,0,0,0,1,0,0,1,1,1
368,369,1,3,"Jermyn, Miss. Annie",female,NaN,0,0,14313,7.7500,...,0,0,0,0,1,0,0,1,1,1
375,376,1,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",female,NaN,1,0,PC 17604,82.1708,...,0,0,0,0,1,0,0,1,1,1
409,410,0,3,"Lefebre, Miss. Ida",female,NaN,3,1,4133,25.4667,...,0,0,0,0,1,0,0,1,1,1
415,416,0,3,"Meek, Mrs. Thomas (Annie Louise Rowley)",female,NaN,0,0,343095,8.0500,...,0,0,0,0,1,0,0,1,1,1
431,432,1,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,...,0,0,0,0,1,0,0,1,1,1
457,458,1,1,"Kenyon, Mrs. Frederick R (Marion)",female,NaN,1,0,17464,51.8625,...,0,0,0,0,1,0,0,1,1,1
485,486,0,3,"Lefebre, Miss. Jeannie",female,NaN,3,1,4133,25.4667,...,0,0,0,0,1,0,0,1,1,1
502,503,0,3,"O'Sullivan, Miss. Bridget Mary",female,NaN,0,0,330909,7.6292,...,0,0,0,0,1,0,0,1,1,1
533,534,1,3,"Peter, Mrs. Catherine (Catherine Rizk)",female,NaN,0,2,2668,22.3583,...,0,0,0,0,1,0,0,1,1,1
564,565,0,3,"Meanwell, Miss. (Marion Ogden)",female,NaN,0,0,SOTON/O.Q. 392087,8.0500,...,0,0,0,0,1,0,0,1,1,1
573,574,1,3,"Kelly, Miss. Mary",female,NaN,0,0,14312,7.7500,...,0,0,0,0,1,0,0,1,1,1
578,579,0,3,"Caram, Mrs. Joseph (Maria Elias)",female,NaN,1,0,2689,14.4583,...,0,0,0,0,1,0,0,1,1,1
593,594,0,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,...,0,0,0,0,1,0,0,1,1,1
596,597,1,2,"Leitch, Miss. Jessie Wills",female,NaN,0,0,248727,33.0000,...,0,0,0,0,1,0,0,1,1,1
612,613,1,3,"Murphy, Miss. Margaret Jane",female,NaN,1,0,367230,15.5000,...,0,0,0,0,1,0,0,1,1,1
653,654,1,3,"O'Leary, Miss. Hanora ""Norah""",female,NaN,0,0,330919,7.8292,...,0,0,0,0,1,0,0,1,1,1
669,670,1,1,"Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)",female,NaN,1,0,19996,52.0000,...,0,0,0,0,0,1,0,1,1,1
680,681,0,3,"Peters, Miss. Katie",female,NaN,0,0,330935,8.1375,...,0,0,0,0,1,0,0,1,1,1
697,698,1,3,"Mullens, Miss. Katherine ""Katie""",female,NaN,0,0,35852,7.7333,...,0,0,0,0,1,0,0,1,1,1
709,710,1,3,"Moubarek, Master. Halim Gonios (""William George"")",male,NaN,1,1,2661,15.2458,...,0,0,0,0,1,0,0,0,1,1
727,728,1,3,"Mannion, Miss. Margareth",female,NaN,0,0,36866,7.7375,...,0,0,0,0,1,0,0,1,1,1
792,793,0,3,"Sage, Miss. Stella Anna",female,NaN,8,2,CA. 2343,69.5500,...,0,0,0,0,1,0,0,1,1,1
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,...,0,0,0,0,0,1,0,1,1,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,...,0,0,0,0,1,0,0,1,1,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,...,0,0,0,0,1,0,0,1,1,1

In [60]:


traintanic['Woman or Child w/o Recorded Age?'] = traintanic.apply(lambda row: 1 if np.isnan(row['Age']) and \
                                re.compile('Master|Miss|Mrs.').search(row['Name']) else 0, axis=1)

testanic['Woman or Child w/o Recorded Age?'] = traintanic.apply(lambda row: 1 if np.isnan(row['Age']) and \
                                re.compile('Master|Miss|Mrs.').search(row['Name']) else 0, axis=1)

In [54]:
traintanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 28 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   PassengerId                      891 non-null    int64
 1   Survived                         891 non-null    int64
 2   Pclass                           891 non-null    int64
 3   Name                             891 non-null    object
 4   Sex                              891 non-null    object
 5   Age                              714 non-null    float64
 6   SibSp                            891 non-null    int64
 7   Parch                            891 non-null    int64
 8   Ticket                           891 non-null    object
 9   Fare                             891 non-null    float64
 10  Cabin                            204 non-null    object
 11  Embarked                         889 non-null    object
 12  Is Non-Anglo Western?            891 non-null    int64
 13  Is Eastern?                      891 non-null    int64
 14  Last_Name                        891 non-null    object
 15  Is 1st Class?                    891 non-null    int64
 16  Is 3rd Class?                    891 non-null    int64
 17  Deck                             891 non-null    object
 18  Cabin_No                         891 non-null    int64
 19  Is Child?                        891 non-null    int64
 20  Is Young Adult?                  891 non-null    int64
 21  Is Not Young?                    891 non-null    int64
 22  Big Family?                      891 non-null    int64
 23  Cabin Fore?                      891 non-null    int64
 24  Cabin Aft?                       891 non-null    int64
 25  Cabin Amidships?                 891 non-null    int64
 26  Sex-int                          891 non-null    int64
 27  Woman or Child w/o Recorded Age  891 non-null    int64
dtypes: float64(2), int64(19), object(7)
memory usage: 195.0+ KB

In [56]:
traintanic.sample(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Cabin_No,Is Child?,Is Young Adult?,Is Not Young?,Big Family?,Cabin Fore?,Cabin Aft?,Cabin Amidships?,Sex-int,Woman or Child w/o Recorded Age
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,...,22,0,0,1,0,1,0,0,0,0
56,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,...,0,0,1,0,0,1,0,0,1,0
183,184,1,2,"Becker, Master. Richard F",male,1.0,2,1,230136,39.0000,...,4,1,0,0,0,1,0,0,0,0
90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.0500,...,0,0,1,0,0,1,0,0,0,0
203,204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,...,0,0,0,1,0,1,0,0,0,0
122,123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,...,0,0,0,0,0,1,0,0,0,0
605,606,0,3,"Lindell, Mr. Edvard Bengtsson",male,36.0,1,0,349910,15.5500,...,0,0,0,0,0,1,0,0,0,0
645,646,1,1,"Harper, Mr. Henry Sleeper",male,48.0,1,0,PC 17572,76.7292,...,33,0,0,1,0,1,0,0,0,0
154,155,0,3,"Olsen, Mr. Ole Martin",male,NaN,0,0,Fa 265302,7.3125,...,0,0,0,0,0,1,0,0,0,0
474,475,0,3,"Strandberg, Miss. Ida Sofia",female,22.0,0,0,7553,9.8375,...,0,0,1,0,0,1,0,0,1,0
391,392,1,3,"Jansson, Mr. Carl Olof",male,21.0,0,0,350034,7.7958,...,0,0,1,0,0,1,0,0,0,0
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,...,0,1,0,0,0,1,0,0,1,0
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,...,78,0,0,0,0,0,0,1,1,1
723,724,0,2,"Hodges, Mr. Henry Price",male,50.0,0,0,250643,13.0000,...,0,0,0,1,0,1,0,0,0,0
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,...,0,0,1,0,0,1,0,0,1,0
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.0,4,2,347082,31.2750,...,0,1,0,0,0,1,0,0,0,0
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,...,0,0,1,0,0,1,0,0,0,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,...,0,0,0,0,0,1,0,0,0,0
497,498,0,3,"Shellard, Mr. Frederick William",male,NaN,0,0,C.A. 6212,15.1000,...,0,0,0,0,0,1,0,0,0,0
825,826,0,3,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,...,0,0,0,0,0,1,0,0,0,0

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [62]:
forest = RandomForestClassifier(n_estimators = 5000, random_state = 1)
traintanic_data, valitanic_data, traintanic_labels, valitanic_labels = train_test_split(traintanic[[\
'Is 1st Class?','Is 3rd Class?','Sex-int','SibSp','Parch',\
    'Is Non-Anglo Western?','Is Eastern?',\
        'Is Child?','Is Young Adult?','Is Not Young?','Woman or Child w/o Recorded Age?',\
            'Cabin Fore?','Cabin Aft?','Cabin Amidships?']],\
           traintanic['Survived'], test_size = 0.1)
forest.fit(traintanic_data, traintanic_labels)

print(forest.score(valitanic_data, valitanic_labels))

0.8444444444444444

In [63]:
testanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 26 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   PassengerId                       418 non-null    int64
 1   Pclass                            418 non-null    int64
 2   Name                              418 non-null    object
 3   Sex                               418 non-null    object
 4   Age                               332 non-null    float64
 5   SibSp                             418 non-null    int64
 6   Parch                             418 non-null    int64
 7   Ticket                            418 non-null    object
 8   Fare                              417 non-null    float64
 9   Cabin                             91 non-null     object
 10  Embarked                          418 non-null    object
 11  Is Non-Anglo Western?             418 non-null    int64
 12  Is Eastern?                       418 non-null    int64
 13  Is 1st Class?                     418 non-null    int64
 14  Is 3rd Class?                     418 non-null    int64
 15  Deck                              418 non-null    object
 16  Cabin_No                          418 non-null    int64
 17  Is Child?                         418 non-null    int64
 18  Is Young Adult?                   418 non-null    int64
 19  Is Not Young?                     418 non-null    int64
 20  Big Family?                       418 non-null    int64
 21  Cabin Fore?                       418 non-null    int64
 22  Cabin Aft?                        418 non-null    int64
 23  Cabin Amidships?                  418 non-null    int64
 24  Sex-int                           418 non-null    int64
 25  Woman or Child w/o Recorded Age?  418 non-null    int64
dtypes: float64(2), int64(18), object(6)
memory usage: 85.0+ KB

In [64]:
testanic_data = testanic[[\
'Is 1st Class?','Is 3rd Class?','Sex-int','SibSp','Parch',\
    'Is Non-Anglo Western?','Is Eastern?',\
        'Is Child?','Is Young Adult?','Is Not Young?','Woman or Child w/o Recorded Age?',\
            'Cabin Fore?','Cabin Aft?','Cabin Amidships?']]

In [65]:
testanic_predict = forest.predict(testanic_data)

In [682]:
testanic['Survived'] = testanic_predict

In [32]:
feature_importances = list(forest.feature_importances_)
features_list = ['Is 1st Class?','Is 3rd Class?','Sex-int','SibSp','Parch',\
    'Is Non-Anglo Western?','Is Eastern?',\
        'Is Child?','Is Young Adult?','Is Not Young?',\
            'Cabin Fore?','Cabin Aft?','Cabin Amidships?']

In [33]:
for feature, value in zip(features_list, feature_importances):
    print(f'{feature}: {value}')

Is 1st Class?: 0.07792414268392207
Is 3rd Class?: 0.11067788279227217
Sex-int: 0.4023363996487142
SibSp: 0.11071014471840142
Parch: 0.08323594867559994
Is Non-Anglo Western?: 0.04606641884083667
Is Eastern?: 0.027352913623971045
Is Child?: 0.045173560766760136
Is Young Adult?: 0.03531662232448531
Is Not Young?: 0.030003945356536596
Cabin Fore?: 0.013732012914440891
Cabin Aft?: 0.010197449237047388
Cabin Amidships?: 0.007272558417012327